# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
obj/
bin/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Expo / Mobile
.expo/
.expo-shared/
dist/
